<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{{pageTitle}}</title>
		<link rel='stylesheet' href='./../assets/style.css' />
	</head>

	<body>

		<h1>strona główna</h1>
		<h2>{{pageTitle}}</h2>
		<h3>{{subTitle}}</h3>
		<h3>{{x}}</h3>
		<h3>{{y}}</h3>

		<input type='text ' id='val' />
		<button id='btn'>Pobierz</button>
		<div id='show'></div>
		<script src='./../js/func.js'></script>

	</body>

</html>